<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>SignIn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Sign In</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="body ion-no-margin">
    <ion-img class="logo" src="assets/Logo.svg"></ion-img>

    <ion-card-content class="ion-no-padding ion-no-border">
      <ion-card class="sign-in-wrapper ion-no-margin">
        <ion-card-header class="sign-in-header">
          <ion-card-title class="league-spartan">SwapS</ion-card-title>
        </ion-card-header>

        <ion-card-content class="sign-in-content">
          <form action="" method="post" class="sign-in-form">
            <div class="input-group">
              <input id="username" name="username" type="text" class="text-input" placeholder="">
              <label for="username" class="text-input-label open-sans">Email ou nome de usuário</label>
            </div>

            <div class="input-group">
              <input id="password" name="password" type="password" class="text-input" placeholder="">
              <label for="password" class="text-input-label open-sans">Senha</label>
            </div>

            <div class="input-group remember-me">
              <input name="remember-me" id="remember-me" type="checkbox" class="check-input">
              <span class="checkmark"></span>
              <label for="remember-me" class="label-remember-me open-sans">Lembrar de mim</label>
            </div>
          </form>
        </ion-card-content>

        <footer class="sign-in-footer">
          <button class="login-button open-sans default">Fazer login</button>
          <button class="login-button open-sans google">Fazer login</button>
          <button class="login-button open-sans linkedin">Fazer login</button>
        </footer>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>