* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
}

.logo {
    width: 15rem;
    margin: 5rem 0 7.5rem 0;
}

.sign-in-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 27rem;
    height: 41rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
}


.sign-in-form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.sign-in-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .input-group {
        position: relative;
        display: flex;
        align-items: center;

        &:first-child {
            margin-bottom: 6rem;
        }

        &:last-child {
            margin-top: 2.5rem;
        }
        
        .text-input {
            outline: #F61643 solid 3px;
            border: none;
            border-radius: 1rem;
            width: 38rem;
            font-size: 2.4rem;
            line-height: 6rem;
            padding-left: 3rem;
            color: #505050;
        }

        .text-input-label {
            position: absolute;
            left: 3rem;
            pointer-events: none;
        }
        
        .open-sans-label {
            font-family: "Open Sans", "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: italic;
            font-size: 2.4rem;
            line-height: 60px;
            color: #aaa;
        }
    }

    .input-group.remember-me {
        align-self: start;
    }
}

.sign-in-form-header {
    text-align: center;
    width: 100%;
    height: 15rem;
    background-color: #E6FEB3;
    position: relative;
}

.sign-in-form-footer {
    position: relative;
    text-align: center;
    height: 34rem;
    width: 100%;
    background-color: #F8F8F8;
}

.league-spartan-title {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 10rem;
    line-height: 15rem;
    color: #5EC22F;
}

ion-content {
    --ion-background-color: #fff !important;
}

ion-header {
    position: absolute;
}

ion-toolbar {
    --ion-background-color: #fff;
    opacity: 0;
}

ion-card {
    box-shadow: none;
}